.container {
  .router-panel {
    .active-link {
      border-bottom: 2px solid blue;
    }
  }
  .content {

    &::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }
  }
}
