<div class="container mx-auto p-4">
  <div class="router-panel mb-4 flex justify-center">
    <a class="mr-8" [routerLink]="['/verbs']" routerLinkActive="active-link">Verbs</a>
    <a [routerLink]="['/game']" routerLinkActive="active-link">Game</a>
  </div>
  <div class="content flex">
    <div class="left-panel">
      <app-verbs-list></app-verbs-list>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    This is the best app ever
  </div>
</div>
